<%= simple_form_for @van, defaults: { input_html: { class: 'rounded-pill border border-dark' } } do |f| %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <div class="row">
    <div class="col-8">
      <%= f.input :title %>
    </div>
    <div class="col-4">
      <%= f.input :price_per_day %>
    </div>
  </div>
  <%= f.input :description %>
  <%= f.input :address %>
  <div class="row">
    <div class="col-6">
      <%= f.input :capacity %>
    </div>
    <div class="col-6">
      <%= f.input :mileage %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= f.input :car_brand %>
    </div>
    <div class="col-6">
      <%= f.input :model %>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <%= f.input :fuel_type %>
    </div>
    <div class="col-6">
      <%= f.input :production_year %>
    </div>
  </div>
  <%= f.button :submit, "Add van to marketplace", class: "btn btn-primary w-100 rounded-pill primary-button" %>
<% end %>
