<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <% @van.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= index == 0 ? "active" : "" %>">
        <%= cl_image_tag photo.key, height: 300, crop: :fill %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


  <div class="container p-4">
    <h1><strong><%=@van.title%></strong></h1>
    <h2><%=@van.price_per_day%>€ per night</h2>

    <div class="row flex-column pt-4">
      <div class="col">
          <p><%=@van.description%></p>
        </div>
      </div>

      <hr>


      <div class="card">
        <div class="card-body">
          <div class="col pt-4">
              <p><strong>PICK UP ADDRESS:</strong> <%=@van.address%></p>
              <p><strong>MILEAGE:</strong> <%=@van.mileage%></p>
              <p><strong>FUEL TYPE:</strong> <%=@van.fuel_type%></p>
            </div>
          </div>
        </div>
      </div>
